.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: lightskyblue;
}
div.product-image{
    height: auto;
    width: 100%;
}
nav li{display: inline;}
nav li a{color: orange}
body{
    background-color: navajowhite;
    color: black;}
nav li{ 
    display: inline; background-color: navajowhite;}
nav li a{color: hotpink}
body{
    background-color: navajowhite;
    color: rgb(153, 0, 153);

}
.quantity{
    border:red;
    text-emphasis-color: red;
}
.total{
    border: 3px solid black;
    text-align: left;
    padding: 8px;

}
tr:nth-child(even) {
    background-color: #dddddd;
}
table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.btn {
    background-color: lightskyblue;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: green;
  }