@import "compass/css3";

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
  }
  .star-cb-group * {
    font-size: 1rem;
  }
  .star-cb-group > input {
    display: none;
  }
  .star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
  }
  .star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
  }
  .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
  }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
  }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
  }
  .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
  }

.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: lightskyblue;
}

div.product-image{
    height: auto;
    width: 100%;
}
nav li{display: inline;}
nav li a{color: orange}
body{
    background-color: navajowhite;
    color: black;}
nav li{ 
    display: inline; background-color: navajowhite;}
nav li a{color: hotpink}
body{
    background-color: navajowhite;
    color: rgb(153, 0, 153);

}
.quantity{
    border:red;
    text-emphasis-color: red;
}
.total{
    border: 3px solid black;
    text-align: left;
    padding: 8px;

}
tr:nth-child(even) {
    background-color: #dddddd;
}
table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.btn {
    background-color: lightskyblue;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: green;
  }

  *{
    box-sizing: border-box;
  }

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.container-fluid{
  height: auto;
  width: 100%;
}

.card-header, .card-footer, .card-text, .card-name, .card-title{
  text-align:center;
}
.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}